


.button, .label, .radio-button{
    -fx-text-fill: #ececec; /* White text */
}

.table-column {
    -fx-alignment: CENTER;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-text-fill: #dddddd;
}

.table-row-cell:hover {
    -fx-background-color: rgba(179, 255, 208, 0.07);
}

.table-row-cell:odd{
    -fx-background-color: #212120;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even{
    -fx-background-color: #2b2b2a;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected{
    -fx-background-color: #45932b;
}



.text-field{
    -fx-background-color: #363737;
    -fx-border-width: 1px;
    -fx-border-color: #444545;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: #999a9a;
    -fx-padding: 5px, 5px;


}


.text-field:empty{
    -fx-text-fill: #999a9a ;
}

.text-field:focused{
    -fx-background-color: #444545;
    -fx-border-color: #439329;
    -fx-text-fill: #999a9a ;
}




#passwordField{
    -fx-border-width: 1px 0px 1px 1px;
    -fx-background-radius: 5px 0px 0px 5px;
    -fx-border-radius: 5px 0px 0px 5px ;
}


#passwordTextField{
    -fx-border-width: 1px 0px 1px 1px;
    -fx-background-radius: 5px 0px 0px 5px;
    -fx-border-radius: 5px 0px 0px 5px ;
    -fx-focus-traversable: false;
}



.paneTitle{
    -fx-border-width: 0px 0px 2px 0px;
    -fx-padding: 5px;
    -fx-border-color: #444545;
    -fx-font-size: 24px;
}

.paneTitle .label{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.sectionTitle{
    -fx-border-width: 0px 0px;
    -fx-padding: 5px;
}

.sectionTitle .label{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}



.button {
    -fx-background-color: #737476;
    -fx-padding: 4px 9px;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
    -fx-background-insets: 0;
}

.button .buttonIcon{
    -fx-icon-size: 17px;
    -fx-icon-color: #ececec;
}



.button:pressed{
    -fx-background-color: #858587;
}



.backgroundPane{
    -fx-background-color: #353737;
    -fx-text-fill: #ececec;
}

#loginBackgroundPane{
    -fx-font-size: 15px;
}

.togglePassword{
    -fx-background-color: #363737;
    -fx-border-width: 1px;
    -fx-border-color: #444545;
    -fx-background-radius: 0px 5px 5px 0px;
    -fx-border-radius: 0px 5px 5px 0px;
    -fx-text-fill: #999a9a;
    -fx-padding: 5px, 4px;
    -fx-cursor: hand;
    -fx-background-insets: 0;



}



.togglePassword .passwordIcon{
    -fx-icon-code: "far-eye"; /* Open eye icon */
    -fx-icon-size: 17px;
    -fx-icon-color: #999a9a;
}

.togglePassword:pressed{
    -fx-background-color: #444545;
}


.togglePassword:selected .passwordIcon {
    -fx-icon-code: "far-eye-slash";
    -fx-icon-color: #ff6666;
}



#registerPane{
    -fx-background-color: #1e1e1e;
    -fx-border-radius: 6px;
    -fx-background-radius: 10px;
    -fx-border-color: #444545;
    -fx-border-width: 1px 0px 0px 0px;
}


.closePane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 1px, 0px;
    -fx-cursor: hand;
}

.closePaneIcon {
    -fx-icon-code: "fas-angle-down";
    -fx-icon-size: 20px;
    -fx-icon-color: #999a9a;
    -fx-scale-x: 2px;
}

.warningMessage{
    -fx-text-fill: #ff6666;
}


#thumbnail{
    -fx-background-color: #1e1e1e ;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.auxiliaryMenu{
    -fx-border-width: 0px 0px 0px 0px;
    -fx-border-color: #444545;
    -fx-background-color: #292a2a;
}

.auxiliaryMenu .button{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.5, 0, 2);
    -fx-padding: 5px 10px 5px 10px;
}

#topMenu{
    -fx-border-width: 0px 0px 2px 0px;
}

#bottomMenu{
    -fx-border-width: 2px 0px 0px 0px;
}



.column-header-background{
    -fx-background-color: #2d2f2f;
    -fx-border-width: 0px 1px 0px 1px;
    -fx-border-color: #4d4f4f;
}

.table-view .column-header {
    -fx-background-color: #262626;
    -fx-border-width: 0px 1px 2px 0px;
    -fx-border-color: #444545;
    -fx-text-fill: #dddddd;
}

.logoutButton .logoutButtonIcon{
    -fx-rotate: 180;
    -fx-icon-color: #ececec;
}

.auxiliaryPaneVertical{
    -fx-background-color: #272828;
    -fx-text-fill: #ececec;
    -fx-border-color: #444545;
    -fx-border-width: 1px 0px 0px 0px;
}


.auxiliaryPaneHorizontal{
    -fx-background-color: #272828;
    -fx-text-fill: #ececec;
    -fx-border-color: #444545;
    -fx-border-width: 0px 0px 0px 1px;
}

#addItemLeftPanel{
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-color: #444545;
    -fx-padding: 0px 5px 0px 0px;
}

.radio-button {
    -fx-background-color: transparent;
    -fx-text-fill: #ececec;
}


.radio-button .radio{
    -fx-border-width: 1px;
    -fx-border-color: #444545;
    -fx-background-color: #363737;
    -fx-border-radius: 15px;
    -fx-padding: 3px;

}

.radio-button .radio:selected {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}

.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 5px;
    -fx-background-insets: 0;
    -fx-border-width: 0px;
}


.connectionStatusDisconnected{
    -fx-icon-code: "far-circle"; /* Open eye icon */
    -fx-icon-size: 14px;
    -fx-icon-color: #ff6666;
}

.connectionStatusConnected{
    -fx-icon-code: "fas-circle"; /* Open eye icon */
    -fx-icon-size: 14px;
    -fx-icon-color: #439329;
}


.dialogBody{
    -fx-font-size: 16px;
}

#whatsappButton #whatsappIcon{
    -fx-icon-size: 20px;
}

#closeWhatsappPane{
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
}

#closeWhatsappPane #closeWhatsappPaneIcon{
    -fx-icon-code: "fas-times";
    -fx-icon-size: 17px;
    -fx-icon-color: #ececec;
}